<h3 class="text-center">Top Skilled Profiles</h3>
<div class="card-deck">
    <div class="card" *ngFor="let profile of profiles" routerLink="/profile/detail/{{profile.id}}">
        <div class="card-body">
            <h5 class="card-title">{{profile.title}}</h5>
            <p class="card-text">{{profile.summary}}</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

